/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: 'IBM Plex Mono', sans-serif;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-attachment: fixed;
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  display: grid;
  grid-column: 1;
  gap: 55px;
}

.frame {
  margin: 10px;
  height: 25px;
  width: 25px;
}

.frame-top {
  justify-self: end;
  align-self: end;
  border-top: var(--frame);
  border-right: var(--frame);
}

.frame-bottom {
  justify-self: start;
  border-bottom: var(--frame);
  border-left: var(--frame);
}

.header__theme-menu {
  justify-self: end;
  margin: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-color);
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  outline: var(--accent-color) solid 1px;
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: rgb(219, 0, 255);
  font-weight: 700;
  line-height: 83%;
}

.title-text {
  max-width: 491px;
  justify-self: end;
  margin: 10px;
}

.title-decor {
  background-color: var(--accent-color);
  font-size: var(--font-size);
  font-weight: 700;
  color: rgb(0, 0, 40);
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: var(--text-color);
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-section-title {
  font-size: var(--font-size);
  color: var(--accent-color);
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-section-align {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

h4 {
  font-weight: 400;
}

.gallery-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  text-align: center;
  min-height: 667px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media(min-width: 768px) {
  .header {
    gap: 162px;
  }

  .header__theme-menu {
    margin: 20px;
  }

  .title-text {
    width: 364px;
    margin-inline-end: 20px;
  }

  .content {
    padding: 20px;
    gap: 80px;
  }

  .main-text {
    gap: 80px;
  }

  .text-section {
    flex-direction: row;
  }

  .text-section_second {
    flex-direction: column;
  }

  .text-section-title {
    min-width: 236px;
  }

  .text-section-title_second {
    width: 236px;
  }

  .gallery-box {
    gap: 20px;
  }

  .gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .gallery-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-item:first-child {
    grid-area: 1/1/2/3; 
  }

  .gallery-item:nth-child(2) {
    grid-area: 1/3/3/4;
  }

  .gallery-item:nth-child(3) {
    grid-area: 2/1/4/2;
  }

  .gallery-item:nth-child(4) {
    grid-area: 2/2/3/3;
  }

  .gallery-item:nth-child(5) {
    grid-area: 3/2/4/4
  }

  .footer {
    max-height: 1024px;
  }
}

@media (min-width: 1024px) {
  .header {
    gap: 114px;
    position: relative;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    justify-self: center;
    margin-block-end: 159px;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .title-text {
    align-self: end;
    width: 491px;
    margin-block-end: 20px;
  }

  .frame-top {
    margin-block-start: 20px;
    margin-inline-end: 20px;
    position: absolute;
    align-self: start;
  }

  .frame-bottom {
    margin-inline-start: 20px;
    margin-block-end: 20px;
  }

  .text-section-title {
    min-width: 315px;
  }

  .text-section_second {
    flex-direction: column;
  }

  .text-block_second {
    flex-direction: row;
  }

  .gallery {
    block-size: 1048px;
  }

  .footer {
    min-inline-size: 1024px;
  }

  .frame-top-footer {
    align-self: end;
  }

  .footer-title {
    margin-block: auto;
  }
}